@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

label {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 130px;
}

header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(121, 121, 121, 0.3);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav_items {
  background: white;
  padding: 10px;
  border-radius: 20px;
}
nav .nav_items ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
nav .nav_items ul li {
  margin: 10px;
  text-align: center;
}
nav .logo {
  border-radius: 30px;
}

.content {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.content .content__video_background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content .content__video_background .myVideo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.content .content__desc {
  padding: 15px;
  max-width: 600px;
  position: relative;
  z-index: 2;
  top: 400px;
  color: #ffffff;
  background-color: rgba(121, 121, 121, 0.4);
  border-radius: 20px;
}
.content h3, .content h1 {
  margin-bottom: 30px;
}
.content .content__info {
  margin-bottom: 30px;
}
.content .content__info a {
  background-color: rgb(255, 225, 0);
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border-radius: 10px;
}

.present {
  display: flex;
  gap: 50px;
}
.present .present__image {
  max-width: 500px;
  min-width: 400px;
}
.present .present__inner {
  margin-top: 40px;
  position: relative;
}
.present .present__inner .h3_wrapper {
  margin-bottom: 30px;
}
.present .present__inner .h3_wrapper::before {
  content: "";
  background-image: url(/resourses/icons8-круг.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  top: -34px;
  left: -35px;
}
.present .present__inner .h2_wrapper {
  margin-bottom: 40px;
}
.present .present__inner h3 {
  position: relative;
  z-index: 2;
}
.present .present__inner h2 {
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 225, 0);
  border-bottom-right-radius: 10px;
  display: inline;
}
.present .present__inner .p_wrapper {
  margin-bottom: 50px;
}
.present .present__inner .p_wrapper p {
  padding-right: 50px;
}

.competencies ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 40px;
  padding-left: 35px;
  position: relative;
}
.competencies ul li {
  width: calc(50% - 25px);
}
.competencies ul .h4_wrapper {
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}
.competencies ul .one::before {
  content: "";
  background-image: url(/resourses/develop.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -10px;
}
.competencies ul .h4__image_bef::before {
  content: "";
  background-image: url(/resourses/mob.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -40px;
}
.competencies ul .three::before {
  content: "";
  background-image: url(/resourses/consalting.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -10px;
}

.projects_title {
  text-align: center;
  position: relative;
}

h3 {
  position: relative;
  z-index: 2;
}

.h3_wrapper {
  margin-bottom: 30px;
}

.h3_wrapper::before {
  content: "";
  background-image: url(/resourses/icons8-круг.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  top: -35px;
}

.project img {
  border-radius: 30px;
}/*# sourceMappingURL=main.css.map */