
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    cursor: pointer;
}

a:hover  {
    text-decoration: none;
    opacity: 0.5;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    position: relative;
}

.h3_wrapper {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

h4 {
    font-size: 20px;
}

p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-bottom: 2px solid silver;
}

input[type="file"] {
    border-bottom: none;
}

textarea, input[type="submit"] {
    border: 2px solid silver;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 5px 15px;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active,
textarea:focus {
    outline: none;
}

label {
	cursor: pointer;
}
